Repository instill-ai/pipeline-backend, pull requests merged in 2023-09, with the labels that each got.

#234 chore(usage,metric): add pipeline release info in usage/metric data
  pkg/handler/publicHandler.go
  pkg/service/service.go
  pkg/usage/usage.go
  pkg/utils/utils.go
  pkg/worker/workflow.go
Labels: 💧 Instill VDP

#235 chore(metric): fix pipeline release nil uuid value
  pkg/handler/publicHandler.go
Labels: 💧 Instill VDP

#236 chore: improve error msg
  pkg/handler/publicHandler.go
  pkg/utils/dag.go
Labels: 💧 Instill VDP

#237 chore: increase grpc message size limit
  cmd/main/main.go
  pkg/constant/constant.go
  pkg/external/external.go
Labels: 💧 Instill VDP

#238 chore: support global data reference(pipeline, owner)
  pkg/service/service.go
  pkg/utils/utils.go
  pkg/worker/workflow.go
Labels: 💧 Instill VDP

#239 chore: support array in component reference
  pkg/service/openapi.go
  pkg/utils/dag.go
Labels: 💧 Instill VDP

#240 chore: fix connector jwt-sub propagation bug
  pkg/service/convert.go
  pkg/service/service.go
Labels: 💧 Instill VDP

#242 chore: fix OpenAPI generation bug
  pkg/service/openapi.go
Labels: 💧 Instill VDP

#243 chore: allow base64 string with MIME prefix
  pkg/service/service.go
Labels: 💧 Instill VDP

#244 chore: allow reference from component input
  pkg/service/openapi.go
  pkg/service/service.go
  pkg/utils/utils.go
  pkg/worker/workflow.go
Labels: 💧 Instill VDP

#245 chore: fix OpenAPI schema generator bug
  pkg/service/openapi.go
Labels: 💧 Instill VDP

#246 chore: update integration test to support consolidated gateway
  .github/workflows/integration-test.yml
  Makefile
  integration-test/const.js
Labels: 💧 Instill VDP

#248 fix(proto,handler): use `int32` in proto pkg to prevent the `total_size` converted to `string`
  go.mod
  go.sum
  pkg/handler/privateHandler.go
  pkg/handler/publicHandler.go
  pkg/usage/usage.go
Labels: 💧 Instill VDP

#250 chore(service): remove connector resource state check
  pkg/service/validator.go
Labels: 💧 Instill VDP

#251 fix(service): fix pipeline_release recipe conversion bug
  pkg/service/convert.go
Labels: 💧 Instill VDP

#254 fix(service): delete pipeline_release when pipeline is deleted
  pkg/service/service.go
Labels: 💧 instill-vdp

#253 chore(service): remove unsafe user_id injection and update default_user_id
  cmd/main/main.go
  pkg/constant/constant.go
  pkg/service/service.go
Labels: 💧 instill-vdp

#252 test(integration): add authentication in integration tests
  integration-test/const.js
  integration-test/grpc-pipeline-private.js
  integration-test/grpc-pipeline-public-with-jwt.js
  integration-test/grpc-pipeline-public.js
  integration-test/grpc-trigger-async.js
  integration-test/grpc-trigger.js
  integration-test/grpc.js
  integration-test/rest-pipeline-private.js
  integration-test/rest-pipeline-public-with-jwt.js
  integration-test/rest-pipeline-public.js
  integration-test/rest-trigger-async.js
  integration-test/rest-trigger.js
  integration-test/rest.js
Labels: 💧 instill-vdp

#255 docs(readme): update readme and contributing guidelines
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  README.md
Labels: 💧 instill-vdp

#256 feat(permission): support permission setting, sharing public, sharing by code(link)
  config/config.yaml
  go.mod
  go.sum
  pkg/constant/constant.go
  pkg/datamodel/datamodel.go
  pkg/db/migration/000005_init.down.sql
  pkg/db/migration/000005_init.up.sql
  pkg/middleware/misc.go
  pkg/repository/repository.go
  pkg/service/convert.go
  pkg/service/service.go
Labels: 💧 instill-vdp

#257 docs(contributing): update contributing guidelines and labeler
  .github/CONTRIBUTING.md
  .github/labeler.yml
  README.md
Labels: 💧 instill-vdp

#258 fix(service): fix the component type is unspecified when `resource_name` in not set
  pkg/service/convert.go
Labels: instill vdp

#259 chore(permission): rename the share-code permission header
  pkg/constant/constant.go
  pkg/middleware/misc.go
Labels: instill vdp

#260 refactor(component): adopt new component and operator interfaces
  cmd/worker/main.go
  go.mod
  go.sum
  pkg/handler/privateHandler.go
  pkg/handler/publicHandler.go
  pkg/operator/end/config/definitions.json
  pkg/operator/end/config/seed/component.json
  pkg/operator/end/config/seed/definitions.json
  pkg/operator/end/config/seed/generate_definitions.py
  pkg/operator/end/config/seed/openapi.json
  pkg/operator/operator.go
  pkg/operator/start/config/definitions.json
  pkg/operator/start/config/seed/component.json
  pkg/operator/start/config/seed/definitions.json
  pkg/operator/start/config/seed/generate_definitions.py
  pkg/operator/start/config/seed/openapi.json
  pkg/service/convert.go
  pkg/service/openapi.go
  pkg/service/service.go
  pkg/service/state.go
  pkg/service/validator.go
  pkg/utils/dag.go
  pkg/utils/utils.go
  pkg/worker/worker.go
  pkg/worker/workflow.go
Labels: instill vdp

#261 chore(service): add `alias` field for `pipeline_release`
  go.mod
  go.sum
  pkg/service/convert.go
  pkg/service/service.go
Labels: instill vdp

#263 fix(handler): fix PATCH pipeline mask bug
  pkg/handler/publicHandler.go
Labels: instill vdp

#264 fix(service): fix pipeline_release state bug
  pkg/service/openapi.go
  pkg/service/service.go
Labels: instill vdp

#265 chore(operator): rename start end operator id
  go.mod
  go.sum
  integration-test/const.js
  pkg/constant/constant.go
  pkg/service/openapi.go
  pkg/service/service.go
  pkg/service/validator.go
  pkg/worker/workflow.go
Labels: instill vdp

#266 chore: add text extraction dependencies in Dockerfile
  Dockerfile
  Dockerfile.dev
Labels: instill vdp
