Repository instill-ai/pipeline-backend, pull requests merged in 2025-02, with the labels that each got.

#962 chore(github): rename app-backend to agent-backend
  config/config.go
  config/config.yaml
  pkg/recipe/variable.go
Labels: instill vdp

#964 feat(Docling): prefetch model artifacts
  .github/workflows/coverage.yml
  .github/workflows/integration-test.yml
  Dockerfile
  Dockerfile.dev
  Makefile
  pkg/component/operator/document/v0/config/tasks.yaml
  pkg/component/operator/document/v0/convert_document_to_markdown.go
  pkg/component/operator/document/v0/convert_document_to_markdown_test.go
  pkg/component/operator/document/v0/io.go
  pkg/component/operator/document/v0/transformer/execution/docling_pdf_to_md_converter.py
  pkg/component/operator/document/v0/transformer/markdown.go
  pkg/component/operator/document/v0/transformer/markdowntransformer.go
  pkg/component/operator/document/v0/transformer/pdftomarkdown.go
  pkg/data/document.go
Labels: instill vdp, instill component, instill pipeline

#966 chore(cmd): fix preset downloader error
  cmd/init/presetdownloader/downloader.go
Labels: instill pipeline

#967 ci(github): use ARM runner to speed up the image build process
  .github/workflows/images.yml
Labels: instill pipeline

#969 feat(document): log execution times for benchmarking
  .github/workflows/coverage.yml
  Makefile
  pkg/component/operator/document/v0/README.mdx
  pkg/component/operator/document/v0/config/definition.yaml
  pkg/component/operator/document/v0/convert_document_to_markdown.go
  pkg/component/operator/document/v0/convert_to_images.go
  pkg/component/operator/document/v0/main.go
  pkg/component/operator/document/v0/transformer/execution/docling_pdf_to_md_converter.py
  pkg/component/operator/document/v0/transformer/execution/pdfplumber_pdf_to_md_converter.py
  pkg/component/operator/document/v0/transformer/helper.go
  pkg/component/operator/document/v0/transformer/images.go
  pkg/component/operator/document/v0/transformer/markdown.go
  pkg/component/operator/document/v0/transformer/markdowntransformer.go
  pkg/component/operator/document/v0/transformer/pdftomarkdown.go
  pkg/component/operator/document/v0/transformer/text.go
  pkg/data/document.go
Labels: instill component, instill pipeline

#970 feat(init): remove preset pipeline downloader
  Dockerfile
  Dockerfile.dev
  cmd/init/main.go
  cmd/init/presetdownloader/downloader.go
  pkg/acl/acl.go
  pkg/constant/constant.go
  pkg/handler/utils.go
  pkg/service/convert.go
  pkg/service/pipeline.go
Labels: instill pipeline

#971 feat(recipe): rename `format` to `type` in variable section
  config/config.yaml
  integration-test/pipeline/const.js
  integration-test/pipeline/rest-integration.js
  integration-test/pipeline/rest-trigger.js
  pkg/component/CONTRIBUTING.md
  pkg/component/operator/document/v0/.compogen/bottom.mdx
  pkg/component/operator/document/v0/README.mdx
  pkg/component/operator/json/v0/.compogen/bottom.mdx
  pkg/component/operator/json/v0/README.mdx
  pkg/datamodel/datamodel.go
  pkg/db/migration/000040_rename_format_to_type.down.sql
  pkg/db/migration/000040_rename_format_to_type.up.sql
  pkg/db/migration/convert/convert000040/convert.go
  pkg/db/migration/migration.go
  pkg/service/pipeline.go
  pkg/service/utils.go
Labels: instill component, instill pipeline

#972 feat(minio): log MinIO actions with requester
  .github/workflows/integration-test.yml
  cmd/main/main.go
  go.mod
  go.sum
  pkg/component/ai/instill/v0/README.mdx
  pkg/component/ai/openai/v0/README.mdx
  pkg/component/data/redis/v0/README.mdx
  pkg/component/operator/image/v0/README.mdx
  pkg/service/pipelinerun.go
  pkg/worker/main.go
  pkg/worker/minioactivity.go
  pkg/worker/workflow.go
  pkg/worker/workflowmodel.go
Labels: instill component, instill pipeline

#973 feat(x): update MinIO package to delegate audit logs
  cmd/main/main.go
  go.mod
  go.sum
  pkg/handler/component_definition.go
  pkg/handler/integration.go
  pkg/handler/main.go
  pkg/handler/pipeline.go
  pkg/handler/secret.go
Labels: instill pipeline

#975 chore(compogen): update go.mod to solve vulnerability issues
  pkg/component/tools/compogen/go.mod
  pkg/component/tools/compogen/go.sum
Labels: instill component, instill pipeline

#976 feat(minio): add service name and version to MinIO requests
  .github/workflows/images.yml
  .github/workflows/integration-test.yml
  Dockerfile
  cmd/main/main.go
  go.mod
  go.sum
Labels: instill pipeline

#978 feat(minio): add client info and user header to artifact binary fetcher
  cmd/main/main.go
  go.mod
  go.sum
  pkg/external/external.go
  pkg/service/main.go
  pkg/service/pipeline.go
  pkg/service/pipeline_test.go
  pkg/worker/main.go
Labels: instill pipeline

#979 feat(component): support metadata filter in artifact component
  go.mod
  go.sum
  pkg/component/ai/instill/v0/README.mdx
  pkg/component/ai/openai/v0/README.mdx
  pkg/component/data/instillartifact/v0/README.mdx
  pkg/component/data/instillartifact/v0/config/tasks.yaml
  pkg/component/data/instillartifact/v0/io.go
  pkg/component/data/instillartifact/v0/task_search_chunks.go
  pkg/component/data/redis/v0/README.mdx
  pkg/component/operator/image/v0/README.mdx
Labels: instill component, instill pipeline

#980 chore(x): update x package with release
  go.mod
  go.sum
Labels: instill pipeline
